{% extends "base.html" %}

{% block content %}


<form action="/idpsetup" method="post" enctype="multipart/form-data">
    <strong>FAC FQDN</strong> <input name="facfqdn" type="text" value="{{facfqdn}}"/></br>
    <strong>FAC id for SP</strong> (generated random): <input name="facrandom" type="text" value="{{facrandom}}"/></br>
    <strong>FAC certificate</strong> (load certificate you used for signing SAML assertions - if omitted, already uploaded (if any) will be used.)<input name="faccert" id="file" type="file" /></br>
    </br></br>

    <strong>My SP FQDN</strong> (where FAC will be redirecting requests back, usually THIS host)<input name="myfqdn" type="text" value="{{myfqdn}}"/></br>
    <strong>My SP port</strong> (port you are using for this test site)<input name="myport" type="text" value="{{myport}}"/></br>
    <strong>My SP HTTPS</strong></br><input name="myhttps" type="checkbox" value="{{myhttps}}" /> (is this site HTTPS - usually <strong>not</strong> - more advanced config needed)</br>

    <input value="Generate" type="submit" />
</form>


{% if errors %}
  <div class="alert alert-danger" role="alert">
    <strong>Errors:</strong>
    <ul class="list-unstyled">
        {% for err in errors %}
          <li>{{err}}</li>
        {% endfor %}
    </ul>
  </div>
{% endif %}

{% endblock %}

