{% extends "base.html" %}

{% block content %}

<p>
<form action="/loadconfig" method="post" enctype="multipart/form-data">
    <strong>Load config file</strong> (saved from /saveconfig)<input name="settings" id="file" type="file" /></br>
    <input value="Load config" type="submit" />
</form>
</p>

{% if errors %}
  <div class="alert alert-danger" role="alert">
    <strong>Errors:</strong>
    <ul class="list-unstyled">
        {% for err in errors %}
          <li>{{err}}</li>
        {% endfor %}
    </ul>
  </div>
{% endif %}

{% endblock %}

